// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
// @import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

@import "foundation/components/global"; // *always required
@import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
@import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
@import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

a, a:hover {
  color: $rails-girls-red;
  border-bottom: 1px dotted $rails-girls-red;;
}

h3 {
  font-weight: 200;
  color: $dark-rails-girls-red;
}

h4 {
  font-weight: 200;
  color: $rails-girls-red;
  font-size: 1.2em;
}

// Main navigation
.red-background {
  background: $rails-girls-red;
}

nav.main {
  @extend .row;
  @extend .top-bar;

  a, a:hover {
    border: none;
  }

  & > ul {
    @extend .title-area;

    li {
      @extend .name;

      h1 {
        text-indent: -9999px;
        overflow: hidden;
        background-image: url(../images/railsgirls-logo.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 219px; // Image width
      }
    }
  }

  & > section {
    @extend .top-bar-section;

    ul {
      @extend .right;

      li {
        @media #{$topbar-media-query} {
          &:nth-child(even) {
            height: $topbar-height;
            width: 13px; // Image width
            background-image: url(../images/star.png);
            background-repeat: no-repeat;
            background-position: center;
          }
        }

        a {
          font-weight: bold;
          font-size: emCalc(20);

          &:not(.button) {
            padding: 0 20px;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

// Hero
header.hero {
  @extend .row;

  & > div {
    @extend .columns;
  }

  & > div:first-child {
    @extend .large-7;
    @extend .push-5;

    h2 {
      color: $rails-girls-red;
      font-size: emCalc(52);

      small {
        font-size: 0.5em;
        font-weight: normal;
        color: #444;
        display: block;
        clear: both;
      }
    }

    p {
      font-size: emCalc(19);
    }

    section.social {
      @extend .row;

      & > div {
        @extend .columns;

        min-height: 60px;

        &.twitter {
          @extend .large-3;
        }

        &.facebook {
          @extend .large-9;
        }
      }
      
    }
  }

  & > div:last-child {
    @extend .large-5;
    @extend .pull-7;
  }
}

@import "compass";
#gradient {
  @extend .row;
  @include background-image(linear-gradient(#e8e8e8, white)); 
  height: 25px;
}

// Action
section.action {
  @extend .row;

  & > p {
    @extend .large-4;
    @extend .columns;

    height: 4em;
    padding-top: 1em;

    em {
      color: $rails-girls-red;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

// Information
section.information {
  @extend .row;

  & > div {
    @extend .columns;

    section {
      h3 {
        color: $rails-girls-red;
      }
      strong {
        color: $dark-rails-girls-red;
      }
    }
  }

  & > div.schedule {
    @extend .large-7;

      & > section {
        & > div {
          @extend .row;

          & > div:first-child {
            @extend .columns;
            @extend .large-3;

            text-align: center;
          }

          & > div:last-child {
            @extend .columns;
            @extend .large-9;
          }
        }
      }
  }

  & > div:last-child {
    @extend .large-5;
  }
}

// Team
section.team {  
  @extend .row;

  min-height: 150px;

  ul {
    @extend .row;

    li {
      @extend .large-3;
      @extend .small-6;
      @extend .columns;

      list-style: none;
      float: left;
      min-height: 4em;

      img {
        float: left;
        width: 48px;
        border: 1px solid #ddd;
        margin-right: 15px;
      }

      small {
        font-size: 0.9em;
        display: block;
        color: $dark-rails-girls-red;
      }
    }
  }
}

// Footer
footer {
  p {
    text-align: center;

    em {
      font-size: 1.5em;
      letter-spacing: 0.5em;
    }
  }

  color: $dark-gray-txt;
  width: 100%;
  padding: 40px 0;
  background: $light-gray-bg;

  a, a:hover {
    color: darken($dark-gray-txt, 20%);
    text-decoration: none;
    border-color: darken($dark-gray-txt, 20%);
  }
}
